body{font-size:16px;}.markdown-section a{color:#B10DC9;text-decoration:none;font-weight:bold;}.app-nav a.active,.app-nav a:hover{color:#B10DC9;}.app-nav a.active{border-bottom: 2px solid #B10DC9;}.content{margin:1rem;}.github-corner svg{fill:#111;}.markdown-section ul p,.markdown-section ul ul{margin:0!important;}.markdown-section{width: 888px; max-width: 95%;padding: 1rem 2rem;}
body {
    color: #fafafa;
    background-color: #111;
}

.markdown-section a {
    color: #c519dd;
}

.markdown-section strong {
    color: #dadada;
}

.markdown-section em {
    color: #d5d5d5;
}

.anchor span {
    color: #c8c;
}

.sidebar {
    color: #eee;
    background-color: #333;
    scrollbar-color: #111 #ccc;
    scrollbar-width: thin;
}

.alert.callout {
    background-color: #222;
}

.markdown-section code, .markdown-section pre {
    background-color: #333;
    color: #eee;
    text-shadow: 0 0 3px #000;
}

.github-corner svg {
    fill: #c3b;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul > ul {
    margin-left: 1rem;
}

.sidebar li {
    padding: 0.2rem 1rem;
}

.sidebar li.active a {
    color: #fafafa;
}

.sidebar a {
    color: #aaa;
}

.sidebar li.active a {
    color: #fafafa;
}

.markdown-section pre {
    border-left: 0;
    padding: 0;
}

.markdown-section pre > code {
    color: #111;
    text-shadow: none;
    background-color: #e5e5e5;
    scrollbar-width: thin;
}
