h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

h1:hover .header-link:before,
h2:hover .header-link:before,
h3:hover .header-link:before,
h4:hover .header-link:before,
h5:hover .header-link:before,
h6:hover .header-link:before {
    content: "\00B6";/* pilcrow */
    color: #888;
    font-size: smaller;
}

.header-link {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: absolute;
  top: 0;
  left: -0.7em;
  display: block;
  padding-right: 1em;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  display: inline-block;
  text-decoration: none;
}

.btn-container { 
    float : right;
    margin-left: 1em;
}

p.img-container {
    margin: 2em 10em;
}

img[title="poof"] {
    width: 100%;
    margin-top: -8em;
    margin-bottom: -8em;
}

@media screen and (max-width: 800px) {
    p.img-container {
        margin: 2em 6em;
    }
}

@media screen and (max-width: 600px) {
    p.img-container {
        margin: 2em 4em;
    }
}

@media screen and (max-width: 500px) {
    img[title="poof"] {
        margin-top: -4em;
        margin-bottom: -4em;
    }
}

@media screen and (max-width: 400px) {
    p.img-container {
        margin: 1em 0;
    }
    img[title="poof"] {
        margin-top: -1em;
        margin-bottom: -1em;
    }
}

.container {
  max-width: 888px;
  margin: auto;
}

body {
  color: #fff5ff;
  background-color: #2a2a2a;
  font-family: "Baloo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  box-shadow: 0 0 3px #111;
}

.btn-container {
  box-shadow: 0 0 4px #111;
}

.container p {
  text-shadow: 0 0 4px #000;
}

a {
  color: #d8d;
  text-shadow: 0 0 2px #faf3;
}

a:hover, a:focus {
  color: #f4b;
}
